<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pien🥺ize</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="lib/face-api.min.js"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>
</head>
<body>
    <div class="introduce uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-logo">Pien🥺ize<li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><span uk-icon="question"></span></li>
            </ul>
        </div>
    </div>
    <div class="editArea">
        <div class="canvasArea">
            <span v-if="!imageLoadedFlag" class="uk-text-leader center">
            <span uk-icon="icon: upload; ratio: 3"></span><br>
            クリックして画像を選択してください
            </span>
            <canvas ref="canvas" id="canvas" class="canvasLayer"></canvas>
            <canvas ref="overlay" id="overlay" class="canvasLayer"></canvas>
            <input v-show="!imageLoadedFlag" type="file" class="fileUpload center" id="fileUpload" @change="onFileChange"  accept="image/*" />
        </div>
        <div v-if="faceDetectedFlag" class="tabArea">
            <!--
            <ul class="uk-tab-bottom uk-child-width-expand" uk-tab>
                <li>
                    <a @click="pienMask">
                        🥺
                        <div class="uk-text-meta uk-text-lowercase">pien</div>
                    </a>
                </li>
                <li>text</li>
            </ul>
            -->
            <ul id="editTab" class="uk-tab-bottom uk-child-width-expand" uk-tab>
                <li class="uk-active">
                    <a @click="eraseCanvas($refs.overlay)">
                        <span uk-icon="refresh"></span>
                        <div class="uk-text-meta uk-text-lowercase">reset</div>
                    </a>
                </li>
                <li>
                    <a @click="pienMask">
                        🥺
                        <div class="uk-text-meta uk-text-lowercase">pien</div>
                    </a>
                </li>
                <li>
                    <a @click="changeFile">
                        <span href="#" uk-icon="folder"></span>
                        <div class="uk-text-meta uk-text-lowercase">change</div>
                    </a>
                </li>
                <li>
                    <a @click="downloadCanvas">
                        <span uk-icon="download"></span>
                        <div class="uk-text-meta uk-text-lowercase">save</div>
                    </a>
            </ul>
        </div>
        <div v-show="loadingFlag" class="loadArea">
            <div class="center">
                <div uk-spinner="ratio: 3"></div>
                <br>
                <span class="uk-text-lead">{{loadMessage}}</span>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>
</html>